affine
attrs
beautifulsoup4
boto3
botocore
certifi
cftime
charset-normalizer
click
click-plugins
cligj
cloudpickle
contourpy
cycler
dask
fonttools
fsspec
geogif
idna
importlib_metadata
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
locket
netCDF4
numpy
packaging
pandas
partd
pillow
pip
pyarrow
pyogrio
pyparsing
pyproj
pystac
python-dateutil
python-dotenv
pytz
PyYAML
rasterio
referencing
requests
rio-stac
rioxarray
rpds-py
s3transfer
setuptools
shapely
six
soupsieve
stac_manager @ git+https://github.com/owp-spatial/surface-stac-tools.git@3df4a2fe3afb50ef25972e2a5da8a6c9fbfaf55e
toolz
typing_extensions
tzdata
urllib3
xarray
zipp
