affine==2.4.0
attrs==24.3.0
beautifulsoup4==4.13.2
botocore==1.36.8
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
idna==3.10
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
numpy==2.2.1
pandas==2.2.3
pyparsing==3.2.1
pystac==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
rasterio==1.4.3
referencing==0.36.1
requests==2.32.3
rio-stac==0.10.1
rpds-py==0.22.3
s3transfer==0.11.1
shapely==2.0.6
six==1.17.0
soupsieve==2.6
stac_manager @ git+https://github.com/owp-spatial/surface-stac-tools.git@862d4f04f5b65928d7e43748616c1789854df8f7
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
